* {
font-family: sans-serif;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

p {
  text-align: center;
}